@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>
<h3>Рекламное агенство</h3>

<p>Рекламное агентство - профессиональная организация, предоставляющая своим клиентам полный или ограниченный объем услуг по планированию и проведению рекламы,
    а также отдельных ее средств, например, по подготовке или размещению, либо того или другого весте, по оформлению заказов в СМИ,
    заказов на изготовление и прокат рекламных фильмов, видеороликов, видеоклипов и др.
</p>
