@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>


<address>
    ВлГУ<br />
    ИСТ-114<br />
    Лаптев Я.Д.<br />
    <abbr title="Phone">Телефон:</abbr>
    +7-919-044-14-09
</address>

<address>
    <strong>Поддержка:</strong>  <a href="mailto:yakovlaptev@yandex.ru">yakovlaptev@yandex.ru</a>
</address>