@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="vertical-align: central; text-align: center; margin-top: 10px;">
    <div class="col-md-4">
        <h2><p style="border:solid; border-width: 1px; border-color:  #f35b0e; margin-top: 35px;"></p></h2>
   </div>
    <div class="col-md-4">
        <h2>Наши предложения</h2>
    </div>
    <div class="col-md-4">
        <h2><p style="border:solid; border-width: 1px; border-color:  #f35b0e; margin-top: 35px;"></p></h2>
    </div>
</div>

<div class="row" style="text-align: center">
    <div class="col-md-4">
        <h2>Стенды у подъездов</h2>
        <img src="~/Content/3.jpg" alt="Стенды у подъездов" width="330"/></div>
    <div class="col-md-4">
        <h2>Стенды в лифтах</h2>
        <img src="~/Content/1.jpg" alt="Стенды в лифтах" width="330"/></div>
    <div class="col-md-4">
        <h2>Афиши</h2>
        <img src="~/Content/2.jpg" alt="Афиши" width="330"/></div>
</div>

    <div class="row" style="text-align: center; margin-top:20px;">
        <div class="col-md-12">
            <p><a class="btn btn-danger" href="../Advertising">Подробнее</a></p>
        </div>
    </div>