@model AdvAgen.Models.IndexViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Личный кабинет";
    AdvAgen.Models.Entities en = new AdvAgen.Models.Entities();
    String idd = User.Identity.GetUserId();
    int cusId = 0;
    if (User.IsInRole("Customer"))
    {
        cusId = en.customers.Where(p => p.userId == idd).First().id;
    }
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [@Html.ActionLink("Смена пароля", "ChangePassword")]
        </dd>
        @if (User.IsInRole("Customer"))
        {
        <dt>Информация:</dt>
        <dd>
            [@Html.ActionLink("Редактировать", "../Customer/Edit", new { id = cusId })]
        </dd>
        }
    </dl>
</div>
